<header>
  <nav>
      <a routerLink="/search"><img src="assets/Logo_expert.png"></a>
      <div class="main-nav">
      </div>
      <div class="auth">
        <a href="profile.html">Profile</a>
        <a href="/logout">Logout</a>
        <a routerLink="/chat">Chat</a>
      </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
  <footer>
    <div class="footer-content">
        <div class="footer-image">
            <img src="assets/Logo_expert.png">
            <p>Find experts easy...</p>
        </div>
        <div class="footer-for-us">
            <a href="/contacts">Contacts</a>
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        <div class="footer-social">
            <a>Facebook</a>
            <a>Instagram</a>
            <a>Twitter</a>
        </div>
    </div>
    <div class="copyright">
        <div>© 2022 RS ™ All Rights Reserved</div>
    </div>
</footer>
 