        <section class="chat-section">
            <aside>
                <div (click)="SelectChat(user.roominfo[0].roomId)" *ngFor="let user of participants" class="user-info">
                    <div class="chat-image-wrapper">
                        <img src="images/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                    </div>
                    <div>
                        <p>{{user.roominfo[0].firstName}}</p>
                        <p>Heeeeey</p>
                    </div>
                </div>
            </aside>
            <div class="chat-box">
                <div class="conversation">
                    <div *ngFor="let conversation of conversation">
                        <div *ngIf="conversation.userId == userInfo.userId" class="message-own">
                            <div class="content-wrapper">
                                <p class="name">{{conversation.userName}}</p>
                                <p class="message">{{conversation.text}}</p>
                            </div>
                        </div>
                        <div *ngIf="conversation.userId != userInfo.userId" class="message-other">
                            <div class="content-wrapper">
                                <p class="name">{{conversation.userName}}</p>
                                <p class="message">{{conversation.text}}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="input-field">
                    <input #inputField type="text" placeholder="Aa">
                    <button (click)="sendMessage(inputField)">Sent</button>
                </div>
            </div>
        </section>