@{
    ViewData["Title"] = "Home Page";
}

<section class="image-holder">
    <h1>U need a expert to develop your idea? There is the place where u can easily find that person!</h1>
</section>
<section class="today-pick">
    <h1>Today 3 experts pick</h1>
    <div class="landing-peoples">
        <div class="landing-people">
            <h3>Front-End</h3>
            <div class="image-wrapper">
                <img src="images/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                <div class="hover">
                    <p>Teodor Petrov</p>
                </div>
            </div>
        </div>
        <div class="landing-people">
            <h3>Back-End</h3>
            <div class="image-wrapper">
                <img src="images/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                <div class="hover">
                    <p>Teodor Petrov</p>
                </div>
            </div>
        </div>
        <div class="landing-people">
            <h3>Full-Stack</h3>
            <div class="image-wrapper">
                <img src="images/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                <div class="hover">
                    <p>Teodor Petrov</p>
                </div>
            </div>
        </div>
    </div>
</section>
