/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'Roboto', sans-serif;;
}
main {
    min-height: 100vh;
 }

 .hidden-down {
    height: 0 !important;
 }

 body {
    margin: 0;
 }