html {
    font-family: 'Roboto', sans-serif;
    ;
}

main {
    min-height: 100vh;
}

.hidden-down {
    height: 0 !important;
}
/* Header */
nav {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px gray;
}

    nav img {
        width: 8rem;
    }

    nav a {
        text-decoration: none;
        color: gray;
    }

.main-nav, .auth {
    display: flex;
    gap: 2rem;
}

body {
    margin: 0;
}

/* section 1 */
.image-holder {
    text-align: center;
    background-image: url("/images/photo-1522071820081-009f0129c71c.jpg");
    background-size: cover;
    height: 40rem;
    margin: 2rem;
    border-radius: 0.5rem;
}

    .image-holder h1 {
        position: relative;
        display: inline-block;
        top: 50%;
        color: white;
        border-bottom: solid 2px white;
    }

/* section 2 */

.today-pick {
    text-align: center;
}

.landing-peoples {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.landing-people .image-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 1rem;
    width: 20rem;
    height: 30rem;
}

.image-wrapper:hover .hover {
    opacity: 50%;
}

.hover:hover p {
    bottom: 50%;
}


.image-wrapper .hover {
    position: absolute;
    border-radius: 1rem;
    width: 20rem;
    height: 30rem;
    background-color: gray;
    opacity: 00%;
    transition: opacity 0.3s;
}

/* Footer */

footer {
    margin-top: 5rem;
    height: 20rem;
    background-color: gray;
}

.footer-content {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.footer-image {
    width: 10rem;
    height: 10rem;
}

    .footer-image p {
        color: white;
    }

    .footer-image img {
        max-width: 100%;
        max-height: 70%;
    }

.footer-for-us, .footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

    .footer-for-us a, .footer-social {
        color: white;
        text-decoration: none;
    }

.copyright {
    text-align: center;
    margin: 2rem;
    color: white;
    padding: 1rem 0 1rem 0;
    border-top: solid 1px white;
}