<section class="search">
            <div class="searchBar">
                <h2>Filter options</h2>
                <div class="filter-options">
                    <button class="filter-button" type="button">Field</button>
                    <button class="filter-button" type="button">Tech-Stack</button>
                    <button class="filter-button" type="button">Where</button>
                </div>
            </div>
        </section>
        <div class="menu-container field-menu hidden-down">
            <div class="options">
                <option value="Front-End">Front-End</option>
                <option value="Back-End">Back-End</option>
                <option value="QA">QA</option>
                <option value="System-Admin">System Administrator</option>
            </div>
        </div>
        <!-- <div class="menu-container tech-stack-menu"></div>
        <div class="menu-container where-menu"></div> -->
        <section class="results">
            <div class="landing-peoples">
                <div class="landing-people">
                    <h3>Front-End</h3>
                    <div class="image-wrapper">
                        <img src="assets/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                        <div class="hover">
                            <p>Teodor Petrov</p>
                        </div>
                    </div>
                </div>
                <div class="landing-people">
                    <h3>Back-End</h3>
                    <div class="image-wrapper">
                        <img src="assets/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                        <div class="hover">
                            <p>Teodor Petrov</p>
                        </div>
                    </div>
                </div>
                <div class="landing-people">
                    <h3>Full-Stack</h3>
                    <div class="image-wrapper">
                        <img src="assets/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                        <div class="hover">
                            <p>Teodor Petrov</p>
                        </div>
                    </div>
                </div>
                <div class="landing-people">
                    <h3>Full-Stack</h3>
                    <div class="image-wrapper">
                        <img src="assets/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                        <div class="hover">
                            <p>Teodor Petrov</p>
                        </div>
                    </div>
                </div>
                <div class="landing-people">
                    <h3>Full-Stack</h3>
                    <div class="image-wrapper">
                        <img src="assets/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                        <div class="hover">
                            <p>Teodor Petrov</p>
                        </div>
                    </div>
                </div>
                <div class="landing-people">
                    <h3>Full-Stack</h3>
                    <div class="image-wrapper">
                        <img src="assets/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                        <div class="hover">
                            <p>Teodor Petrov</p>
                        </div>
                    </div>
                </div>
                <div class="landing-people">
                    <h3>Full-Stack</h3>
                    <div class="image-wrapper">
                        <img src="assets/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                        <div class="hover">
                            <p>Teodor Petrov</p>
                        </div>
                    </div>
                </div>
                <div class="landing-people">
                    <h3>Full-Stack</h3>
                    <div class="image-wrapper">
                        <img src="assets/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                        <div class="hover">
                            <p>Teodor Petrov</p>
                        </div>
                    </div>
                </div>
                <div class="landing-people">
                    <h3>Full-Stack</h3>
                    <div class="image-wrapper">
                        <img src="assets/small_main_header_caucasian_man_blue_andrea2_small_bb52b9baff.jpg">
                        <div class="hover">
                            <p>Teodor Petrov</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>